<div class="article-header">
  <h1><%= @article.title %></h1>
  <i class="bi bi-pencil-fill"></i>
  <%= link_to 'edit', edit_article_path %>
  <i class="bi bi-trash-fill"></i>
  <%= link_to "Delete",
  article_path(@article),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
</div>

<hr>
<p><%= @article.content %></p>
