<div class="article-header">
  <h1><%= @article.title %></h1>

  <%= link_to edit_article_path do %>
    <i class="bi bi-pencil-fill"></i>
  <% end %>

  <%= link_to article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
    <i class="bi bi-trash-fill"></i>
  <% end %>
</div>

<hr>
<p><%= @article.content %></p>
