/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .header {
  height: 40px;
  background-color: rgba(197, 197, 197, 0.635);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
 }

 .header > a {
  text-decoration: none;
  color: gray;
 }


 #articles-list {
  list-style: none;
  padding: 0;
 }

 #articles-list a {
  text-decoration: none;
  color: gray;
  transition: .3s;
 }

 #articles-list a:hover {
  color: rgb(56, 115, 186);
 }

 .container {
  padding: 40px;
 }

 .article-header {
  display: flex;
  align-items: center;
 }

 .article-header i {
  margin-left: 20px;
 }
